<div class="panel-heading">商品カテゴリー</div>
<div class="panel-body">
  <div class="collapse navbar-collapse navbar-ex1-collapse navbar-side-collapse">
    <ul class="nav navbar-nav side-nav">
      <% taxonomies.each do |parent| %>
        <li>
          <a href="javascript:;" data-toggle="collapse" data-target="#cate-<%= parent.id %>"><%= parent.name %><i class="fa fa-plus"></i></a>
          <ul id="cate-<%= parent.id %>" class="collapse collapseItem">
            <% parent.taxons.each do |child| %>
              <% unless child.products.empty? %>
                <li>
                  <%= link_to potepan_category_path(child.id) do %>
                    <i class="fa fa-caret-right" aria-hidden="true"></i>
                    <%= child.name %><span> (<%= child.products.length %>)</span>
                  <% end %>
                </li>
              <% end %>
            <% end %>
          </ul>
        </li>
      <% end %>
    </ul>
  </div>
</div>
