<% provide(:title, @taxon.name) %>
<%= render "shared/light_section", name: @taxon.name, shop: true %>
<% #MAIN CONTENT SECTION %>
<section class="mainContent clearfix productsContent">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-4 col-xs-12 sideBar">
        <div class="panel panel-default">
          <%= render 'category_list', taxonomies: @taxonomies %>
        </div>
        <div class="panel panel-default filterNormal">
          <%= render 'color_search' %>
        </div>
        <div class="panel panel-default filterNormal">
          <%= render 'size_search' %>
        </div>
      </div>
      <div class="col-md-9 col-sm-8 col-xs-12">
        <div class="row filterArea">
          <%= render 'sort' %>
        </div>
        <div class="row">
          <% @products.each do |product| %>
            <div class="col-sm-4 col-xs-12">
              <div class="productBox">
                <div class="productImage clearfix">
                  <%= link_to image_tag(product.display_image.attachment(:product), :alt => "products-img-#{product.id}"), potepan_product_path(product.id) %>
                </div>
                <div class="productCaption clearfix">
                  <%= link_to potepan_product_path(product.id) do %>
                    <h5><%= product.name %></h5>
                    <h3><%= product.display_price %></h3>
                  <% end %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>
<%= render "shared/brand_light_section" %>
