<div class="row productsContent">
  <div class="col-xs-12">
    <div class="page-header">
      <h4>関連商品</h4>
    </div>
  </div>
  <% related_products.each_with_index do |related_product, i| %>
    <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="productBox productBox-<%= i %>">
        <div class="productImage clearfix">
          <%= link_to image_tag(related_product.display_image.attachment(:product), :alt => "products-img-#{i}"), potepan_product_path(related_product.id) %>
        </div>
        <div class="productCaption clearfix">
          <%= link_to potepan_product_path(related_product.id) do %>
            <h5><%= related_product.name %></h5>
            <h3><%= related_product.display_price %></h3>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
