<a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-search"></i></a>
<ul class="dropdown-menu dropdown-menu-right">
  <form id="form01" action="product-grid-left-sidebar.html" method="post" remote="true">
    <li>
      <span class="input-group">
        <input type="text" name="searchWord" id="search-form" class="form-control" placeholder="Search…" aria-describedby="basic-addon2">
        <span onclick="FormSubmit();" class="input-group-addon addPointer" id="basic-addon2">検索</span>
      </span>
    </li>
  </form>
</ul>
